Построить дерево сайта. Ссылки на другие сайты ограничить 1 уровнем. 
Учесть возможность рекурсивных ссылок. 
Сделать задание используя HttpClient. 
Ссылки надо вывести в список без повторений и под списком выдать количество. 
Уровень вложенности задаётся в интерфейсе.
После начала кнопка меняет текст а прервать, а глубину вложенности нельзя менять во время поиска ссылок.