<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyDiskInfoBehavior">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MyDiskInfo_mex.MyDiskInfo"
               behaviorConfiguration="MyDiskInfoBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/MyDiskInfo/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="IMyDiskInfo"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>-->
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="serviceBehavior">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="serviceBehavior" name="MyDiskInfo_mex.Program+MyDiskInfo">
                <endpoint address="http://localhost:8081/MyDiskInfo/" binding="basicHttpBinding"
                    bindingConfiguration="" name="basicHttp" contract="MyDiskInfo_mex.Program+IMyDiskInfo" />
                <endpoint binding="mexHttpBinding" bindingConfiguration="" name="mex"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/MyDiskInfo" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>