Создадим веб-сайт, который будет возводить число в требуемую степень. При этом сервер будет принимать от клиента число и степень, производить операцию возведения в степень и отправлять клиенту результат.
Проверка на пустые строки или не числа в них.
Проверка на переполнения. Чтоб не исключения вылетали, а объяснялось пользователю, что не так.