USE [master]
GO
/****** Object:  Database [products]    Script Date: 03.04.2015 20:13:01 ******/
CREATE DATABASE [products] ON  PRIMARY 
( NAME = N'products', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\products.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'products_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\products_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [products].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [products]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 03.04.2015 20:13:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Discount] [float] NULL CONSTRAINT [DF_Food_Discount]  DEFAULT ((0)),
	[Quantity] [float] NULL,
	[Measurement] [nvarchar](25) NULL,
	[Producer] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Supplier] [nvarchar](255) NULL,
	[Date_of_delivery] [date] NULL,
	[Expiry_date] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sheet1$]    Script Date: 03.04.2015 20:13:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Category] [nvarchar](255) NULL,
	[Price] [float] NULL,
	[Discount] [float] NULL,
	[Quantity] [float] NULL,
	[Measurement] [nvarchar](255) NULL,
	[Producer] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[Supplier] [nvarchar](255) NULL,
	[Date_of_delivery] [datetime] NULL,
	[Expiry_date] [datetime] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[Food] ([ID], [Name], [Category], [Price], [Discount], [Quantity], [Measurement], [Producer], [Country], [Supplier], [Date_of_delivery], [Expiry_date]) VALUES (1, N'Масло екстра "Вологодське" фас 200 г', N'Масло фасоване', 14.45, 0, 51, N'шт', N'Баштанський сирзавод', N'Україна', N'Баштанський сирзавод', CAST(N'2015-04-03' AS Date), CAST(N'2015-04-13' AS Date))
INSERT [dbo].[Food] ([ID], [Name], [Category], [Price], [Discount], [Quantity], [Measurement], [Producer], [Country], [Supplier], [Date_of_delivery], [Expiry_date]) VALUES (2, N'Масло селянське 73% фас 200 гр', N'Масло фасоване', 11.83, 0, 0, N'шт', N'Баштанський сирзавод', N'Україна', N'Баштанський сирзавод', CAST(N'2015-04-02' AS Date), CAST(N'2015-04-11' AS Date))
INSERT [dbo].[Food] ([ID], [Name], [Category], [Price], [Discount], [Quantity], [Measurement], [Producer], [Country], [Supplier], [Date_of_delivery], [Expiry_date]) VALUES (3, N'Сир плавлений ковбасний "Баштанський Елітний"', N'Сир плавлений ковбасний', 41.92, 0, 15, N'шт', N'Баштанський сирзавод', N'Україна', N'Баштанський сирзавод', CAST(N'2015-04-02' AS Date), CAST(N'2015-04-26' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Sheet1$] ON 

INSERT [dbo].[Sheet1$] ([ID], [Name], [Category], [Price], [Discount], [Quantity], [Measurement], [Producer], [Country], [Supplier], [Date_of_delivery], [Expiry_date]) VALUES (1, N'Масло екстра "Вологодське" фас 200 г', N'Масло фасоване', 14.45, NULL, 51, N'шт', N'Баштанський сирзавод', N'Україна', N'Баштанський сирзавод', CAST(N'2015-03-02 08:52:20.000' AS DateTime), CAST(N'2015-04-13 16:11:26.000' AS DateTime))
INSERT [dbo].[Sheet1$] ([ID], [Name], [Category], [Price], [Discount], [Quantity], [Measurement], [Producer], [Country], [Supplier], [Date_of_delivery], [Expiry_date]) VALUES (2, N'Масло селянське 73% фас 200 гр', N'Масло фасоване', 11.83, NULL, 4, N'шт', N'Баштанський сирзавод', N'Україна', N'Баштанський сирзавод', CAST(N'2015-03-25 08:29:26.000' AS DateTime), CAST(N'2015-04-11 22:39:40.000' AS DateTime))
INSERT [dbo].[Sheet1$] ([ID], [Name], [Category], [Price], [Discount], [Quantity], [Measurement], [Producer], [Country], [Supplier], [Date_of_delivery], [Expiry_date]) VALUES (3, N'Сир плавлений ковбасний "Баштанський Елітний"', N'Сир плавлений ковбасний', 41.92, NULL, 6.17, N'шт', N'Баштанський сирзавод', N'Україна', N'Баштанський сирзавод', CAST(N'2015-03-06 04:44:33.000' AS DateTime), CAST(N'2015-04-26 19:43:40.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Sheet1$] OFF
USE [master]
GO
