<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="ChatLibrary.ChatService">
        <endpoint address="" binding="wsDualHttpBinding" contract="ChatLibrary.IChatService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Chat/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
