<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<system.serviceModel>
    <services>
      <service name="ChatServiceLibrary.Chat">
        <endpoint address="" binding="wsDualHttpBinding" contract="ChatServiceLibrary.IChat" />

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/Chat/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->

</configuration>
